extends layout

block content
    form#tableForm(action='/', method='post')
        select#selectedArtist(name='selectedArtist')
            each item in artists
                option(value = '#{item}') #{item}
    iframe(width='560', height='315', src='http://www.youtube.com/embed/videoseries?list=#{listId}&hl=en_US', frameborder='0')               